<% if @relationship.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
        <%= render 'users/user_template', user: @user %>
        
        <!--本の情報投稿-->
        <h1>New book</h1>
        
        <!-- form_with部分 -->
        <%= form_with model:@book, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>
        
      <!--一覧表示-->
        <div class="col-md-8 offset-md-1">
          <h2>Users</h2>
            <table class="table">
              <thead>
              <tr>
                <th>profile image</th>
                <th>name</th>
                <th>follows</th>
                <th>followers</th>
                <th>choose to follow</th>
                <th>link</th>
              </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                <tr>
                  <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
                  <td><%= user.name %></td>
                  <td>フォロー数: <%= user.followings.count %></td>
                  <td>フォロワー数: <%= user.followers.count %></td>
                  <td><%= render 'relationships/info', user:user %></td>
                  <td><%= link_to "Show", user_path(user) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
             <!--投稿数を数える記述-->
            <h3>前日比・前週比</h3>
            
            <%= current_user.books.where('created_at > ?', Date.today).count %>
            <%= current_user.books.where('created_at > ?', Date.yesterday).count %>
            <%= current_user.books.where('created_at > ?', 1.week.ago).count %>
            
        </div>
      </div>
  

</div>
