<div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
      <%# ã“ã“ã‹ã‚‰ã‚¨ãƒ©ãƒ¼ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <div class="error"><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</div>
            <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
        </div>
      <% end %>

      <%# ã“ã“ã¾ã§ã‚¨ãƒ©ãƒ¼ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ <%>
      <%= render 'users/user_template', user:@user %>
      <!--ã¾ãŸã¯current_userã§ã®è¨˜è¼‰æ–¹æ³•ã§ã‚‚OK-->
      <%= render 'users/book_template', book:@book %>
    </div>

    <!--ä¸€è¦§è¡¨ç¤º-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |books| %>
          <tr>
            <td><%= link_to user_path(books.user) do %>
              <%= attachment_image_tag books.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
            <% end %>
            <!--ã‚¢ã‚½ã‚·ã‚¨ãƒ¼ã‚·ãƒ§ãƒ³ã‚’é–¢é€£ã¥ã‘ã‚‹.user...ç­‰ã«ã¤ã„ã¦ã¯viewã§ã‚‚ã‚³ãƒ³ãƒˆãƒ­ãƒ¼ãƒ©ãƒ¼ã§ã‚‚è¨˜è¼‰ãŒã§ãã‚‹-->
            <td><%= link_to books.title, book_path(books) %></td>
            <td><%= books.body %></td>
          <!--ã„ã„ã­æ©Ÿèƒ½-->
          <td><% if books.favorited_by?(current_user) %>
          <p>
          <%= link_to book_favorites_path(books), method: :delete do %>
          ðŸ’—<%= books.favorites.count %> likes
          <% end %>
          </p>
          <% else %>
          <p>
          <%= link_to book_favorites_path(books), method: :post do %>
          <%= books.favorites.count %> likes
          <% end %>
          </p>
          <% end %>
          <td>
            <div class="comments">
            <p>ã‚³ãƒ¡ãƒ³ãƒˆä»¶æ•°ï¼š<%= books.book_comments.count %></p>
          </td>
          <% end %>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>