<div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/user_template', user:@user %>
        <%= render 'users/book_template', book:@book_new %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br><%= link_to @user.name, user_path(@user) %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <!--いいね機能-->
          　<td><% if @book.favorited_by?(current_user) %>
            <p>
            <%= link_to book_favorites_path(@book), method: :delete do %>
            <%= @book.favorites.count %> いいね
            <% end %>
            </p>
            <% else %>
            <p>
            <%= link_to book_favorites_path(@book), method: :post do %>
            <%= @book.favorites.count %> いいね
            <% end %>
            <% end %>
            </p>
            <% if @user.id == current_user.id %>
            <!--if @book.user_id == current_user.id -->
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success"  %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
            <% end %>
            </td>
            <td>
            <div class="comments">
            <p>コメント件数：<%= @book.book_comments.count %></p>
            </td>
            </tr>
          </tbody>
        </table>
        
        <% @book.book_comments.each do |post_comment| %>
        <p><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %></p>
        <%= post_comment.user.name %>
        <%= post_comment.comment %>
        <% if post_comment.user == current_user %>
        <div class="comment-delete btn">
        <%= link_to "削除", book_book_comment_path(post_comment.book, post_comment), class: "btn btn-danger", method: :delete %>
        </div>
        <% end %>
        <% end %>
        
        <div class="new-comment">
        <%= form_with(model:[@book, @book_comments], local: true) do |f| %>
        <%= f.text_area :comment, rows:'3',placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
        <% end %>
        </div>
      </div>
    </div>
</div>